html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
  color: #fff;
}

body {
margin: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.planets {
  border: 3px solid #595652;
  padding: .5em;
  list-style-type: none;
  background-color: #79756f;
  text-align: center;
}

.planets li {
  display: inline-block;
  font-family: sans-serif;
  margin: .3em;
  padding: .5em;
  background-color: #713837;
  color: #fff;
  border-radius: 10px;
}

.planets a {
  color: #fff;
  text-decoration: none;

}
.planets li:hover {
  background-color: #f33;
}
