html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}
strong {
  color: #fff;
  background-color: #79756f;
}
.planets {
  border: 3px solid #595652;
  padding: .75em;
  list-style-type: none;
  background-color: #79756f;
  text-align: center;
}

.planets li {
  display: inline-block;
  font-family: sans-serif;
  margin: .3em;
  padding: .5em;
  background-color: #713837;
  color: #fff;
  border-radius: 10px;
}

.planets p {

}
.planets li:hover {
  background-color: #f33;
  color: #fff;
}
