html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Bevan, serif;
  line-height: 1.5;
}

body {
margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  color: #fff;
  border: 3px solid #595652;
}

h1 {
  font-weight: bold;
  font-family: Bevan, serif;
  color #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav {
text-align: center;
padding: 0 0 .6em;
}

.planets {
margin: 0;
padding: 0;
list-style-type: none;
}

.planets li {
font-weight: normal;
font-family: sans-serif;
color: #fff;
display: inline-block;
text-decoration: none;
padding: .5em .75em;
background-color: #713837;
border-radius: .3em;
margin: .3em;
}

.planets a {
  color: #fff;
  text-decoration: none;
}
.planets li:hover {
  background-color: #f33;
}
